/*
/---------------------------------   
/   Glabal styles for project 
/---------------------------------
/
*/

:root{
    --orange-100: #feac00;
    --orange-200: #fd8000;
    --orange-300: #fd8000;
    --fucsia-100: #d1014c;
    --fucsia-200: #a7016f;
}